body {
    margin:0;
}
header{
    width:100%;
    height:240px;
    padding-top:30px;
    background-color:#222;
    background-image: url('https://images.pexels.com/photos/2156/sky-earth-space-working.jpg');
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:bottom;
    margin-bottom:0px;
}
.signin_block{
    width:300px;
    min-height:170px;
    padding:15px;
    padding-bottom:20px;
    margin:auto;
    background-color:#fff;
    opacity:0.9;
    text-align:center;
}
.signin_block>h1{
    margin:0;
}
.signin_block>a{
    text-decoration:none;
    width:100%;
    line-height:20px;
    display:block;
    text-align:left;
    
    color:#fff;
    padding:8px;
    background-color:orange;
}


nav{
    margin:auto;
    padding:10px;
    background-color:#222;
    text-align:center;
}
nav>a{
    font:12px sans-serif;
    color:#fff;
    text-decoration:none;
    padding:10px;
}
nav>.choosen{ 
    background-color:orange;
}

article{
    width:100%-20px;
    min-height:500px;
    padding:9px;
    padding-bottom:70px;
}
form>label{
    width:90px;
    display:block;
    float:left;
}
form>input[type="submit"]{
    border:none;
    color:white;
    width:100%;
    margin-top:40px;
    line-height:30px;
    background-color:orange;
    outline:1px solid #999;
}
footer{
    width:100%;
    height:120px;
    background-color:#222;
    bottom:0;
}
